html{
    --backgroundColor: #111111;
    --textColor: #bdbdbd;
    --preBackgroundColor: #181f29;
    font-family: 'Cascadia Code', Consolas, Helvetica, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
    color: var(--textColor);
    background-color: var(--backgroundColor);
}

body {
    margin: 0 auto;
    padding: 0 14px;
    box-sizing: border-box;
}

a{
    text-decoration-line: none;
}

p {
    color: var(--fontColor);
}

@media (min-width: 1024px) {
    body {
        max-width: 1000px;
    }
}

@media (max-width: 1023px) {
    body {
        max-width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

.navigation-bar {
    height: 20px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--textColor) 1px solid;
}

.navigation-bar .menu{
    margin-right: -9px;
    text-align: right;
    user-select: none;
}

.navigation-bar .menu a{
    display: inline-block;
    font-size: 20px;
    color: var(--textColor);
    margin: 4px 9px;
    white-space: nowrap;
    user-select: none;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.18);
}

code {
    padding-left: 10%;
    font-family: Consolas,"courier new";
    padding: 2px;
    font-size: 105%;
}



pre {
    counter-reset: line;
    position: relative;
    padding-left: 20px;

    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: break-all;
    background-color: var(--preBackgroundColor);
}

img {
    max-width: 100%;
    height: auto;
}

@media (prefers-color-scheme: dark) {
    img,
    video,
    iframe {
    filter: brightness(0.9);
    }
}