:root{
    --backgroundColor: #f4f4f4;
    --base-variant-color: #e0e0e0;
    --textColor: #111111;
}

.dark{
    --backgroundColor: #111111;
    --base-variant-color: #303030;
    --textColor: #bdbdbd;
}


html{
    
    font-family: 'Cascadia Code', Consolas, Helvetica, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
    
}

body {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    margin: 0 auto;
    padding: 0 14px;
    box-sizing: border-box;
}
header{
    max-width: 100%;
}
a {
    color: #754ea5;
    text-decoration-line: none;
}

p {
    color: var(--fontColor);
}

@media (min-width: 1024px) {
    body {
        max-width: 1000px;
    }
}

@media (max-width: 1023px) {
    body {
        max-width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

.navigation-bar {
    height: 20px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--textColor) 1px solid;
}

.navigation-bar .menu{
    margin-right: -9px;
    text-align: right;
    user-select: none;
}

.navigation-bar .menu a{
    display: inline-block;
    font-size: 20px;
    color: var(--textColor);
    margin: 4px 9px;
    white-space: nowrap;
    user-select: none;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.18);
}

.index-sentence{
    margin: auto;
    width: 200px;
    padding-top: 30vh;
}

.typed-out{
    overflow: hidden;
    border-right: .1em solid var(--textColor);
    font-size: 20pt;
    white-space: nowrap;
    width: 0;
    animation: typing 1s steps(15,end) forwards,
        blink 0.8s infinite;

}

@keyframes typing {
    from { width: 0 }
    to { width: 95% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: var(--textColor); }
}


ul#article-list a{
    font-size: 15pt;
    font-weight: 1000;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    color: var(--textColor);
    text-decoration-line: none;
}

ul#article-list {
    padding-top: 10px;
    padding-left: 0%;
}

.otherlinks a{
    color: var(--textColor);
    text-decoration-line: none;
}

ul#article-list li{
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

#theme-switch {
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

#theme-switch svg {
    fill: var(--textColor);
}

#theme-switch svg:last-child{
    display: none;
}

.dark #theme-switch svg:first-child{
    display: none;
}

.dark #theme-switch svg:last-child{
    display: block;
}